#title {
  padding: 10px;
  align-items: center;
  text-align: center;
  font-family: arial, sans-serif;
}

#myTable {
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border: 3px solid #ddd;
  width: 100%;
}

#myTable th {
  border: 1px solid transparent;
  padding: 8px;
}

#myTable td {
  border: 1px solid #ffffff;
  padding: 8px;
  text-align: center;
}

#myTable tr:nth-child(even) {
  background-color: #f2f2f2;
}

#myTable tr:hover {
  background-color: #ddd;
}

#myTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #eaeaea;
  color: grey;
}
